*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
eventApp/.idea/vcs.xml
eventApp/.idea/inspectionProfiles
eventApp/.idea/gradle.xml
eventApp/.idea/caches
eventApp/.idea/deploymentTargetDropDown.xml
eventApp/.idea/migrations.xml
eventApp/.idea/compiler.xml
eventApp/.idea/misc.xml
