<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.lightsys.eventApp">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.ACTION_SENDTO"/>
    <uses-permission android:name="android.permission.ACTION_DIAL"/>
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature android:name="android.hardware.camera"
                  android:required="true"/>

    <application
        android:icon="@mipmap/ic_eventapp_launcher"
        android:label="LightSys Events"
        tools:replace="android:label"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">

        <activity
            android:name="org.lightsys.eventApp.views.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="LightSys Events"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity
            android:name="org.lightsys.eventApp.views.SettingsViews.SettingsActivity"
            android:label="@string/settings_title"
            android:configChanges="orientation|screenSize"
            android:parentActivityName = ".views.MainActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.SettingsViews.SettingsActivity" />
        </activity>

        <activity
            android:name="org.lightsys.eventApp.views.SettingsViews.SettingsRecycleView"
            android:label = "@string/time_settings_title"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".views.SettingsViews.SettingsActivity"
            >
        </activity>

        <activity
            android:name="org.lightsys.eventApp.views.SettingsViews.TimeZoneSelectionView"
            android:label = "@string/time_settings_title"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".views.SettingsViews.SettingsRecycleView"
            >
        </activity>


        <activity
            android:name="org.lightsys.eventApp.tools.qr.launchQRScanner"
            android:configChanges="orientation|screenSize"
            android:label="Scan Event QR Code">
            <!--for QR code-->
            <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES"
                       android:value="barcode"/>

        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="org.lightsys.sbcat.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <!-- this is now all handled by WorkManager. -->
        <!--<service
            android:enabled="true"
            android:name="org.lightsys.eventApp.tools.AutoUpdater"
            android:exported="false" />
        <receiver android:name="org.lightsys.eventApp.tools.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.lightsys.eventApp.tools.WakeupAlarmReceiver">
        </receiver> -->

    </application>

</manifest>